<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv='refresh' content='86400';>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{url_for('static', filename='icons/tiger.png') }}"
    />-->
    <title>Tiger index | yang-a-chi</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/style.css') }}"
    />
    <script src="{{url_for('static', filename='clock.js') }}" defer></script>
    <script src="{{url_for('static', filename='profit.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  </head>
  <body>
    <header>
      <img
        src="{{url_for('static', filename='icons/tiger.png')}}"
        alt="tiger logo"
        class="tiger__logo"
      />
      <h1 class="tiger__index">Tiger Index</h1>
    </header>

    <main>
      <div class="constellation__container">
        <canvas id="myChart" width="900" height="500"></canvas>
      </div>
      <div class="clock__container">
        <span id="clock" class="clock">Feb 18th, 2021</span>
      </div>
      <div class="status__container">
        <div class="status__plus status__plate">
          <img
            src="{{url_for('static', filename='icons/status_plus.png')}}"
            alt="status__plus"
          />
          <span class="status__profit">{{summed}}</span>
        </div>
      </div>
      <h3>Tiger Index, 호랑이 지수는 모빌리티 세계를 연결합니다.</h3>
      <p>#TigerIndex <br />
          Tiger Index, 호랑이 지수는 Velodyne Lidar, Nvidia, 삼성전자, 현대자동차,<br />
          Unity Software, Apple, Naver, 현대오토에버, Luminar Technologies를 연결합니다. </p>
      <p>#TigerIndex #Y͜͡a͜͡n͜͡g͜͡a͜͡c͜͡h͜͡i͜͡</p>
      <h4>Tiger Index, 호랑이 지수는 Velodyne Lidar는 2.84%, Nvidia는 -4.68%, 삼성전자는<br />
        -5.75%, 현대자동차는 -9.49%, Unity Software는 -1.08% Apple은 1.03%, Naver는<br />
        -1.72%, 현대오토에버는 -12.81%, Luminar Technologies는 -4.58% 수익율을 알립니다.</h4>
      <img src="{{url_for('static', filename='icons/imgs/news1')}}" alt="news" class="news1"/>
      <img src="{{url_for('static', filename='icons/imgs/news2')}}" alt="news" class="news2"/>
      <img src="{{url_for('static', filename='icons/imgs/news3')}}" alt="news" class="news3"/>
      <img src="{{url_for('static', filename='icons/imgs/news4')}}" alt="news" class="news4"/>
    </main>
    {% for data in datas %}
    <div>
      <p
        id="dataSet"
        data-company="{{data.company}}"
        data-price="{{data.price}}"
      ></p>
    </div>
    {% endfor %}
    <script>
      chartIt();
      async function chartIt() {
        const data = await getData();
        const ctx = document.getElementById("myChart").getContext("2d");
        const myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: data.names,
            datasets: [
              {
                label: "price",
                data: data.prices,
                borderColor: "#D3EFD4",
                borderWidth: 10,
                fill: false,
                pointHitRadius: 0.1,
                pointBackgroundColor: "#BC2FC8",
                pointRadius: 7.5,
                pointBorderWidth: 0,
                lineTension: 0
              },
            ],
          },
          options: {
            layout: {
              padding: {
                left: 50,
                right: 50,
                top: 50,
                bottom: 50
              },
            },
            legend: {
              display: false,
            },
            animation: {
              duration: 1,
              onComplete: function () {
                var chartInstance = this.chart,
                  ctx = chartInstance.ctx;
                ctx.font = "12px courier";
                ctx.fillStyle = "#BC2FC8";
                ctx.textAlign = "center";
                ctx.textBaseline = "bottom";

                this.data.datasets.forEach(function (dataset, i) {
                  var meta = chartInstance.controller.getDatasetMeta(i);
                  meta.data.forEach(function (bar, index) {
                    var data = dataset.data[index];
                    ctx.fillText(data, bar._model.x, bar._model.y + 35);
                  });
                });
              },
            },
            responsive: false,
            tooltips: {
              intersect: true
            },
            scales: {
              xAxes: [
                {
                  ticks: {
                    display: false,
                  },
                  gridLines: {
                    display: false,
                  },
                },
              ],
              yAxes: [
                {
                  ticks: {
                    display: false,
                  },
                  gridLines: {
                    display: false,
                  },
                },
              ],
            },
          },
        });
      }
      async function getData() {
        const names = [];
        const prices = [];
        const dataSet = document.querySelectorAll("#dataSet");
        dataSet.forEach((data) => {
          numberedPrice = Number(data.dataset.price);
          names.push(data.dataset.company);
          prices.push(numberedPrice);
        });
        return { names, prices };
      }
    </script>
  </body>
</html>
