@media screen and (max-device-width: 999px) {
    main .clock__container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    main .clock__container span{
        font-family: 'Courier Prime', monospace;
        color: #D25BBD;
        text-shadow: 0 0 1px #D25BBD;
        font-size: 1.2rem;
        font-weight: 500;
        opacity: 0.8;
    }
}
@media screen and (min-device-width: 1000px) {
    main .clock__container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    main .clock__container span{
        font-family: 'Courier Prime', monospace;
        color: #D25BBD;
        text-shadow: 0 0 1px #D25BBD;
        font-size: 1.5rem;
        font-weight: 500;
        opacity: 0.8;
    }
}