@media screen and (max-device-width: 999px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height : 15%;
        margin-bottom: 10px;
    }
    header .tiger__logo{
        width: 15%;
        margin-top: 8%;
    }
    header .tiger__index{
        font-family: 'Courier Prime', monospace;
        margin-top: 3.5%;
        font-size: 1.5rem;
        color: #BC2FC8;
        font-weight: 500;
    }
}
@media screen and (min-device-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height : 12%;
    }
    header .tiger__logo{
        width: 4%;
        margin-top: 3%;
    }
    header .tiger__index{
        font-family: 'Courier Prime', monospace;
        margin-top: 20px;
        font-size: 2rem;
        color: #BC2FC8;
        font-weight: 500;
    }
}