header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 17%;
}
header .tiger__logo{
    width: 52px;
    height: 57px;
    margin-top: 70px;
}
header .tiger__index{
    margin-top: 12px;
    font-size: 2rem;
    color: #BC2FC8;
    font-weight: 600;
}