@import "reset.css";
@import "header.css";
@import "clock.css";
@import "status_plate.css";
@import "dots_lines.css";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Courier Prime', monospace;
}

body {
    background-color: #f8f8f5;
    height: 100vh;
    width: 100vw;
  }

@media screen and (max-device-width: 999px) {
  .news{
    margin-top: 7%;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news__container{
    width: 97%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }
  .news p, .news h3{
    color: #D25BBD;
  }
  .news h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 1.2rem;
  }
  .news p{
    font-weight: 300;
    font-size: 1rem;
    line-height: 130%;
  }
  .news img{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    height: 3%;
    width: 100%;
  }
  footer p{
    font-family: 'Courier Prime', monospace;
    color: #D25BBD;
    font-weight: 500;
    font-size: 1rem;
  }
}
@media screen and (min-device-width: 1000px) {
  .news{
    margin-top: 5%;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news__container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }
  .news p, .news h3{
    color: #D25BBD;
  }
  .news h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 1.2rem;
  }
  .news p{
    font-weight: 300;
    font-size: 1rem;
    line-height: 130%;
  }
  .news img{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    height: 3%;
    width: 100%;
  }
  footer p{
    font-family: 'Courier Prime', monospace;
    color: #D25BBD;
    font-weight: 500;
    font-size: 1rem;
  }
}